@charset "UTF-8";

body{
	color: black;
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	font-weight: normal;
	font-style: inherit;
	margin-top: 20px;
	margin-left: 220px;
	margin-right: 65px;
	background-image: url(../img/fundo2.jpg);
	opacity:0.9;
	background-attachment: fixed;
}

#form{
  float: left; 
  width: 45%;
}

#tab{
  float: right; 
  width: 55%;
}

fieldset {
	border: 3px solid #DC143C;
	border-radius: 20px;
	margin: 3% 15% 3% 15%;
	background-color: white;
	margin-left: 10px;
}

tr:hover, tr:nth-child(even):hover{
	background-color: #DC143C;
}

table tbody tr{
    background-color:white;
}

table tbody tr#th{
    background-color:#DC143C;
}

table{
	border: 2px solid #DC143C;
}

table td{
	text-align: center;
}

table tr:nth-child(even) {
  background-color: #FFEFD5 ;
}

.a{
  text-decoration: none;
  color: black;
  border: 1px #FF69B4 solid;
  background-color: #FFB6C1;
  border-radius: 15px;
  padding: 5px;
} 

#divBusca{
  background-color:#FFB6C1;
  border:solid 1px #FF69B4;
  border-radius:10px;
  width:298px;
  height:32px;
}

#stxtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:15px;
  border:none;
  height:34px;
  width:184px;
  font-family: 'Josefin Slab', serif;
  font-weight:bold;
}

#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:80px;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  font-weight:bold;
  background:#FF69B4;
}
 
#divBusca img{
  float:left;
}

b{
  font-size: 25px;
}

input[type='submit'] {
  font-family: 'Josefin Slab', serif;
  font-size: 19px;
  color:#DC143C;
  font-weight: bold;
}