dev/pag/teste.php
dev/.htaccess
dev/index.php
dev/pag/cadastro.html
dev/pag/home.html
dev/pag/cadastro.php
dev/pag/login.php
dev/pag/login.html
dev/pag/index.html
dev/pag/home.php
dev/pag/index.php
dev/pag/inicio.php
