body{
  background-image: url(../img/rural2.jpg);
}
ul#branco{
  background-color: white;
}
div#sem_margim{
  margin-bottom: 0;
}
.collapsible.popout > li{
  margin: auto;
}
th,td{
  text-align: center !important;
}
.btn, .btn-large, .btn-small, .btn-flat {
    border-radius: 6px;
}
nav a {
  font-size: 10%;
}
@media only screen and (max-width: 400px) {
  .mobile-hide{ display: none !important; }
}
@media only screen and (max-width: 400px) {
  .mobile{ display: inline !important; }
}
@media only screen and (min-width: 500px) {
  .desktop-hide{ display: none !important; }
}
nav .nav-wrapper i {
  line-height: 0px !important;
  height: 0px !important;
}
button i {
  font-size: 30px !important;
}
table.highlight > tbody > tr:hover {
    background-color: white !important;
}
div.collapsible-header:hover {
    background-color: white !important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff5900 !important;
    -webkit-box-shadow: 0 1px 0 0 #ff5900 !important;
    box-shadow: 0 1px 0 0 #ff5900 !important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #ff5900 !important;
    font-size: 14px !important;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #ff5900 !important;
}
.dropdown-content li > a, .dropdown-content li.disabled > span {
    color: #999 !important;
}
.input-field .prefix.active {
    color: #ff5900 !important;
}
.input-field > label.active {
    color: #ff5900 !important;
}
.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #ff5900 !important;
}
